In [1]:
import pandas as pd

In [3]:

data = pd.read_csv("./Files/us_states_Dec7.csv")

In [30]:
data

             date          state  fips   cases  deaths
0      2020-01-21     Washington    53       1       0
1      2020-01-22     Washington    53       1       0
2      2020-01-23     Washington    53       1       0
3      2020-01-24       Illinois    17       1       0
4      2020-01-24     Washington    53       1       0
...           ...            ...   ...     ...     ...
35505  2021-12-06       Virginia    51  983055   14771
35506  2021-12-06     Washington    53  786830    9496
35507  2021-12-06  West Virginia    54  301349    4990
35508  2021-12-06      Wisconsin    55  997712   10134
35509  2021-12-06        Wyoming    56  112199    1428

[35510 rows x 5 columns]

In [7]:
len(data[data.date == "2020-10-21"])

55

In [9]:
data.state.unique()

array(['Washington', 'Illinois', 'California', 'Arizona', 'Massachusetts',
       'Wisconsin', 'Texas', 'Nebraska', 'Utah', 'Oregon', 'Florida',
       'New York', 'Rhode Island', 'Georgia', 'New Hampshire',
       'North Carolina', 'New Jersey', 'Colorado', 'Maryland', 'Nevada',
       'Tennessee', 'Hawaii', 'Indiana', 'Kentucky', 'Minnesota',
       'Oklahoma', 'Pennsylvania', 'South Carolina',
       'District of Columbia', 'Kansas', 'Missouri', 'Vermont',
       'Virginia', 'Connecticut', 'Iowa', 'Louisiana', 'Ohio', 'Michigan',
       'South Dakota', 'Arkansas', 'Delaware', 'Mississippi',
       'New Mexico', 'North Dakota', 'Wyoming', 'Alaska', 'Maine',
       'Alabama', 'Idaho', 'Montana', 'Puerto Rico', 'Virgin Islands',
       'Guam', 'West Virginia', 'Northern Mariana Islands',
       'American Samoa'], dtype=object)

In [10]:
us_state_abbrev = {
            'AL': 'Alabama',
            'AK': 'Alaska',
            'AZ': 'Arizona',
            'AR': 'Arkansas',
            'CA': 'California',
            'CO': 'Colorado',
            'CT': 'Connecticut',
            'DE': 'Delaware',
            'FL': 'Florida',
            'GA': 'Georgia',
            'HI': 'Hawaii',
            'ID': 'Idaho',
            'IL': 'Illinois',
            'IN': 'Indiana',
            'IA': 'Iowa',
            'KS': 'Kansas',
            'KY': 'Kentucky',
            'LA': 'Louisiana',
            'ME': 'Maine',
            'MD': 'Maryland',
            'MA': 'Massachusetts',
            'MI': 'Michigan',
            'MN': 'Minnesota',
            'MS': 'Mississippi',
            'MO': 'Missouri',
            'MT': 'Montana',
            'NE': 'Nebraska',
            'NV': 'Nevada',
            'NH': 'New Hampshire',
            'NJ': 'New Jersey',
            'NM': 'New Mexico',
            'NY': 'New York',
            'NC': 'North Carolina',
            'ND': 'North Dakota',
            'OH': 'Ohio',
            'OK': 'Oklahoma',
            'OR': 'Oregon',
            'PA': 'Pennsylvania',
            'RI': 'Rhode Island',
            'SC': 'South Carolina',
            'SD': 'South Dakota',
            'TN': 'Tennessee',
            'TX': 'Texas',
            'UT': 'Utah',
            'VT': 'Vermont',
            'VA': 'Virginia',
            'WA': 'Washington',
            'WV': 'West Virginia',
            'WI': 'Wisconsin',
            'WY': 'Wyoming',
            'DC': 'District of Columbia',
            'MP': 'Northern Mariana Islands',
            'PW': 'Palau',
            'PR': 'Puerto Rico',
            'VI': 'Virgin Islands',
            'AA': 'Armed Forces Americas (Except Canada)',
            'AE': 'Armed Forces Africa/Canada/Europe/Middle East',
            'AP': 'Armed Forces Pacific'
        }

In [24]:
data_2 = pd.DataFrame.from_dict(us_state_abbrev,orient="index")

data_2 = data_2.reset_index()
data_2 = data_2.rename(columns={'index':'abbrev',0:"state"})

In [25]:
data_2

   abbrev                                          state
0      AL                                        Alabama
1      AK                                         Alaska
2      AZ                                        Arizona
3      AR                                       Arkansas
4      CA                                     California
5      CO                                       Colorado
6      CT                                    Connecticut
7      DE                                       Delaware
8      FL                                        Florida
9      GA                                        Georgia
10     HI                                         Hawaii
11     ID                                          Idaho
12     IL                                       Illinois
13     IN                                        Indiana
14     IA                                           Iowa
15     KS                                         Kansas
16     KY                                       Kentucky
17     LA                                      Louisiana
18     ME                                          Maine
19     MD                                       Maryland
20     MA                                  Massachusetts
21     MI                                       Michigan
22     MN                                      Minnesota
23     MS                                    Mississippi
24     MO                                       Missouri
25     MT                                        Montana
26     NE                                       Nebraska
27     NV                                         Nevada
28     NH                                  New Hampshire
29     NJ                                     New Jersey
30     NM                                     New Mexico
31     NY                                       New York
32     NC                                 North Carolina
33     ND                                   North Dakota
34     OH                                           Ohio
35     OK                                       Oklahoma
36     OR                                         Oregon
37     PA                                   Pennsylvania
38     RI                                   Rhode Island
39     SC                                 South Carolina
40     SD                                   South Dakota
41     TN                                      Tennessee
42     TX                                          Texas
43     UT                                           Utah
44     VT                                        Vermont
45     VA                                       Virginia
46     WA                                     Washington
47     WV                                  West Virginia
48     WI                                      Wisconsin
49     WY                                        Wyoming
50     DC                           District of Columbia
51     MP                       Northern Mariana Islands
52     PW                                          Palau
53     PR                                    Puerto Rico
54     VI                                 Virgin Islands
55     AA          Armed Forces Americas (Except Canada)
56     AE  Armed Forces Africa/Canada/Europe/Middle East
57     AP                           Armed Forces Pacific

In [29]:
type(data_2)

pandas.core.frame.DataFrame

In [28]:
data.join(data_2,on = "state",how = "left")

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat